// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// Подключаем другие scss файлы
@import "_nullstyle.scss";

// Настраиваем переменные

// Настраиваем шаблоны (подключается через @extend .имяшаблона; )

// Настраиваем Mixin (шаблон наоборот. Подключается через @include имямиксина(знач,знач) )

// Классы для Home Work 1
.block {
	margin: 10px;


	&_item {
		display: flex;
		flex: 0 0 25%;
		gap: 10px;
		flex-direction: column;
		padding: 10px;
		background-color: rgb(160, 160, 160);
	}

	&__1 {
		margin: 10px;
		max-width: 1000px;
		display: flex;
		gap: 10px;
		padding-bottom: 50px;
	}

	&__2 {
		max-width: 1000px;
		display: flex;
		gap: 10px;
	}
}
.stop-list {

	&__block {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.btn {
	padding: 5px;
	border: 1px ;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

.area {
	display: block;
	height: 300px;
	overflow: auto;
}

.output {
	color: #fff;
}
